html body {
  margin: 0px;
}

.main-division {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* ============= HEADER STYLES =========== */
.search-header {
  width: 100%;
  height: 56px;
  background: orange;
  order: 1;
}

/* ============= VIDEO PLAYER STYLES =========== */

.video-player {
  width: 75%;
  height: 800px;
  background: chartreuse;
  order: 2;
}

/* ============= COMMENTS STYLES =========== */
  .comments {
    width: 100%;
    height: 400px;
    background: crimson;
    order: 4;
  }

  /* ============= SUGGESTED VIDEOS STYLES =========== */
  .suggested-videos {
    width: 15%;
    height: 800px;
    background: rosybrown;
    display: flex;
    justify-content: right;
    order: 3;
  }